@charset 'utf-8';
.main {
  padding-bottom: 80px;
  min-width: 1200px;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.main img {
  width: 100%;
  vertical-align: bottom;
}
.product-intro {
  background-color: #F2F6FF;
}
.product-intro .com-width {
  display: flex;
  padding-top: 40px;
}
.product-intro .com-width .product-preview {
  flex: 1;
}
.product-intro .com-width .product-preview .product-preview-item {
  width: 536px;
  height: 693px;
}
.product-intro .com-width .product-preview .product-iteminfo {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.com-width {
  width: 1200px;
  margin: auto;
}
.details-img div {
  text-align: center;
}
.itemInfo-wrap {
  position: absolute;
  left: 50%;
  top: 160px;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  background-color: #34373e;
  color: #fff;
  padding: 20px 40px;
}
.product-name {
  font: 24px/1.5 "华文中宋", "songti SC Bold", "宋体";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-desc {
  font: 18px/1.4 "华文中宋", "songti SC Bold", "宋体";
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.product-meta {
  font-size: 14px;
  line-height: 1.6;
  color: #8289A6;
  font: 14px/1.6 "微软雅黑";
  margin-top: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}
.product-price {
  font-size: 36px;
}
.product-btn-buy {
  display: inline-block;
  padding: 10px 36px;
  border: 1px solid #fff;
  font-size: 20px;
  margin-top: 20px;
  transition: all 0.2s;
  color: #fff;
}
.product-btn-buy:hover {
  color: #fff!important;
  background-color: #832937;
  border-color: #832937;
}
